.button {
    display: inline-block;
    .button_content {
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 100px;
        background-color: var(--color-primary);

        a {
            font-family: var(--font-primary);
            text-transform: uppercase;
            color: var(--color-black);
            font-weight: 700;
        }
    }
}

.button_content:hover {
    background-color: var(--color-white);
    color: var(--color-primary);

    a {
        text-decoration: none;
        color: var(--color-primary);
    }
}
