header {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    position: absolute;
    width: 100%;

    h4 {
        text-transform: uppercase;
        text-align: center;
        color: var(--color-white);
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0;
    }
}
