.hero_media {
    height: 100vh;
    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}
.hero_content {
    h1 {
        position: absolute;
        bottom: 80px;
        font-family: var(--font-secondary);
    }
}
