.laboratoires {
    background-color: var(--color-bg-primary);

    h2 {
        color: var(--color-white-transparent);
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 100px;
        font-weight: 100;

        .bold {
            color: var(--color-white);
            font-weight: 700;
        }
    }

    .cards {
        .card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;

            .card_media {
                img {
                    border-radius: 16px;
                }
            }

            .card_content {
                h3 {
                    color: var(--color-white);
                }
                p {
                    color: var(--color-white);
                }
                h5 {
                    color: var(--color-white);
                }
            }
        }
    }
}
