/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-white-transparent: rgba(255, 255, 255, 0.5);
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #f26419;
    --color-bg-primary: #000000;
}
