{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<div class="hero">
    <div class="hero_media">
        <img src="./assets/images/hero.jpg" />
    </div>
    <div class="hero_content wrapper">
        <h1>
            Mon cahier
            <br />
            d'exercice
        </h1>
    </div>
</div>

<div class="laboratoires">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span class="bold">laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card_media">
                    <img src="./assets/images/img_labo1.png" />
                </div>
                <div class="card_content">
                    <h3>Sem 01 - Révision</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <h5>html + css</h5>
                    <div class="button">
                        <a href="#">Voir le laboratoire</a>
                        <div class="container">
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="./assets/images/img_labo2.png" />
                </div>
                <div class="card_content">
                    <h3>Sem 02 - Timtools</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <h5>scss</h5>
                    <div class="button">
                        <a href="#">Voir le laboratoire</a>
                        <div class="container">
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="./assets/images/img_labo3.png" />
                </div>
                <div class="card_content">
                    <h3>Sem 03 - Portfolio Louis Lajoie</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <h5>html + scss</h5>
                    <div class="button">
                        <a href="#">Voir le laboratoire</a>
                        <div class="container">
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="./assets/images/img_labo4.png" />
                </div>
                <div class="card_content">
                    <h3>Sem 04 - Icônes et classes js</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <h5>scss + js</h5>
                    <div class="button">
                        <a href="#">Voir le laboratoire</a>
                        <div class="container">
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="labo_reactive">
    <div class="wrapper">
        <h2>
            Mes laboratoires
            <span class="bold">réactifs</span>
        </h2>

        <div class="swiper js-swiper js-swiper-pagination">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="./assets/images/img_labo4.png" />
                        </div>
                        <div class="card_content">
                            <h3>Sem 04 - Icônes et classes js</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                            <h5>scss + js</h5>
                            <div class="button">
                                <a href="#">Voir le laboratoire</a>
                                <div class="container">
                                    <svg class="icon">
                                        <use href="#icon-chevron-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="./assets/images/img_labo4.png" />
                        </div>
                        <div class="card_content">
                            <h3>Sem 04 - Icônes et classes js</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                            <h5>scss + js</h5>
                            <div class="button">
                                <a href="#">Voir le laboratoire</a>
                                <div class="container">
                                    <svg class="icon">
                                        <use href="#icon-chevron-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="./assets/images/img_labo4.png" />
                        </div>
                        <div class="card_content">
                            <h3>Sem 04 - Icônes et classes js</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                            <h5>scss + js</h5>
                            <div class="button">
                                <a href="#">Voir le laboratoire</a>
                                <div class="container">
                                    <svg class="icon">
                                        <use href="#icon-chevron-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

{% include "_partials/_footer.html" %}
