{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<div class="hero">
    <div class="hero_media">
        <img src="./assets/images/hero.jpg" />
    </div>
    <div class="hero_content wrapper">
        <h1>
            Mon cahier
            <br />
            d'exercice
        </h1>
    </div>
</div>

<div class="laboratoires">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span class="bold">laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card_media">
                    <img src="./assets/images/img_labo1.png" />
                </div>
                <div class="card_content">
                    <h3>Sem 01 - Révision</h3>
                    <p>Pratique et révision de matières vue en cours de web 1 et 2.</p>
                    <h5>html + css</h5>
                    <div class="button">
                        <div class="button_content">
                            <a href="https://bgreen.dectim.ca/cours/cw3/sem01/">Voir le laboratoire</a>
                            <div class="container">
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="./assets/images/img_labo2.png" />
                </div>
                <div class="card_content">
                    <h3>Sem 02 - Timtools</h3>
                    <p>Site pour pratiquer les importations et travailler avec le main.scss du stack</p>
                    <h5>scss</h5>
                    <div class="button">
                        <div class="button_content">
                            <a href="https://bgreen.dectim.ca/cours/cw3/sem02/">Voir le laboratoire</a>
                            <div class="container">
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="./assets/images/img_labo3.png" />
                </div>
                <div class="card_content">
                    <h3>Sem 03 - Portfolio Louis Lajoie</h3>
                    <p>Portfolio fictif pour la pratique du stack TimTools avec des notions de html et de scss.</p>
                    <h5>html + scss</h5>
                    <div class="button">
                        <div class="button_content">
                            <a href="https://bgreen.dectim.ca/cours/cw3/sem03/">Voir le laboratoire</a>
                            <div class="container">
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card right">
                <div class="card_media">
                    <img src="./assets/images/img_labo4.png" />
                </div>
                <div class="card_content">
                    <h3>Sem 04 - Icônes et classes js</h3>
                    <p>Laboratoire de révision et de nouvelle matière en java script ainsi que des exercices sur les icones.</p>
                    <h5>scss + js</h5>
                    <div class="button">
                        <div class="button_content">
                            <a href="https://bgreen.dectim.ca/cours/cw3/sem04/">Voir le laboratoire</a>
                            <div class="container">
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="labo_reactive">
    <div class="wrapper">
        <h2>
            Mes
            <span class="bold">laboratoires réactifs</span>
        </h2>

        <div class="swiper js-swiper js-swiper-pagination cards">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="./assets/images/img_labo7.png" />
                        </div>
                        <div class="card_content">
                            <h3>Sem 07 - Reactive et JS</h3>
                            <p>Apprentissage du reactive en scss et apprentissage en java script</p>
                            <h5>html + scss + js</h5>
                            <div class="button">
                                <div class="button_content">
                                    <a href="https://bgreen.dectim.ca/cours/cw3/sem07/">Voir le laboratoire</a>
                                    <div class="container">
                                        <svg class="icon icon--lg">
                                            <use href="#icon-chevron-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="./assets/images/img_labo8.png" />
                        </div>
                        <div class="card_content">
                            <h3>Sem 08 - Reactive</h3>
                            <p>Pratique en reactive, scss et html.</p>
                            <h5>html + scss</h5>
                            <div class="button">
                                <div class="button_content">
                                    <a href="https://bgreen.dectim.ca/cours/cw3/sem08/">Voir le laboratoire</a>
                                    <div class="container">
                                        <svg class="icon icon--lg">
                                            <use href="#icon-chevron-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="./assets/images/img_labo9.png" />
                        </div>
                        <div class="card_content">
                            <h3>Sem 09 - Librairie Swiper.js et javascript</h3>
                            <p>Apprentissage sur la librairie swiper.js et approfondissement des connaissances en java script.</p>
                            <h5>scss + js</h5>
                            <div class="button">
                                <div class="button_content">
                                    <a href="https://bgreen.dectim.ca/cours/cw3/sem09/">Voir le laboratoire</a>
                                    <div class="container">
                                        <svg class="icon icon--lg">
                                            <use href="#icon-chevron-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

{% include "_partials/_footer.html" %}
